*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: green;
    font-family:'Noto Sans';
}

.footer{

    color: white;
    font-size: 30px;
    background-color: black;
    height: auto;
    text-align: center;

    display: flex;
    flex-direction: column;

        .footer-icones{

            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 20px;

    }
}